**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/Dockerfile
**/Thumbs.db

data/

app/.editorconfig
app/.env*
app/.php_cs.cache
app/bin/*
!app/bin/console

app/var/
app/vendor/
